@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'ProximaNova';
  src: url(../fonts/ProximaNova-Bold.ttf) format("truetype");
  font-weight: 700;
}

html, body{
  width: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden; 
  font-family: 'ProximaNova', arial;
  color: #848688
}

a{
  color: inherit;
  text-decoration: none;
  outline: none;
}

button{
  outline: none
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 20px;
  transition: .3s;
  border-radius: 20px;
  margin-bottom: 25px;
}

.btn--default{
  background: #6BC3C8;
  color: #fff;
}

.btn--default:hover{
  background: #67A4A4;
}

.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
  display: flex;
}

.header{
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.header-logo{
  width: 230px;
}

.header-title{
  font-size: 22px;
  text-transform: uppercase;
  flex-grow: 1;
  margin-right: 25px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 2px solid #CECDCF;
}

.header-profile{
  display: flex;
  align-items: center;
}

.header-search form{
  display: flex;
  align-items: center;
}

.header-search form button{
  background: none;
  border: none;
  color: #848688
}

.header-search form input{
  border: none;
  padding: 5px;
  outline: none;
  width: 50px;
  transition: .8s;
  border: 1px solid transparent;
  margin-right: 8px;
  border-radius: 8px;
}

.header-lang{
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.header-exit{
  display: flex;
}

.header-exit:hover .fas{
  color: #6BC3C8
}

.header-lang a.active img{
  box-shadow: 0px 6px 23px -1px rgba(0, 0, 0, 0.47);
}

.header-lang img{
  border-radius: 50%;
}

.header-lang a:first-child{
  margin-right: 10px;
}

.header-search form input:focus{
  border-color: #848688;
  width: 150px;
  margin-right: 15px;
}

.header a .fas{
  margin-right: 5px;
}

.main-sidebar{
  width: 250px;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #6BC3C8;
  color: #fff
}

.main-flex{
  display: flex;
  width: 100%;
}

.main-sidebar__profile{
  display: flex;
  align-items: center;
  padding: 20px 10px;
  font-size: 14px;
}

.main-sidebar__profile span{
  display: block;
}

.avatar{
  margin-right: 15px;
}

.main-sidebar ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 300;
}

.main-sidebar__menu a{
  display: block;
  padding: 12px 20px;
  transition: .4s;
}

.main-sidebar__menu a:hover,
.main-sidebar__menu a.active{
  background: #577D7D;
}

.main-sidebar__menu a .fas{
  font-size: 20px;
  margin-right: 5px;
}

.main-sidebar .dropdawn-menu{
  display: none;
  background: #67A4A4;
}

.main-sidebar .dropdawn-menu a:hover{
  background: #577D7D;
}

.main-sidebar .dropdawn-menu a{
  font-size: 15px;
}

.footer{
  display: flex;
  align-items: center;
  background: #D9DCDF;
  padding: 20px;
  font-size: 14px;
}

.footer-info{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-right: 25px;
  flex-grow: 1
}

.breadcrumb{
  width: 100%;
  background: #D9DCDF;
  padding: 12px 20px;
}

.breadcrumb-link{
  margin-right: 30px;
  font-size: 18px;
  position: relative;  
}

.breadcrumb-link:after{
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: -25px;
  top: 1px;
  background: url('../img/arrow-right.svg') center center no-repeat;
  background-size: 15px;
}

.breadcrumb-link:last-child:after{
  display: none;
}

.main-content{
  flex-grow: 1
}

.main-content__inner{
  padding: 20px;
  padding-top: 40px;
}

.main-content__inner table{
  width: 100%;
  font-size: 17px;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 2px solid #CCCDCE;
  border-right: 2px solid #CCCDCE;
}

.main-content__inner table tr{
  border-bottom: 2px solid #CCCDCE
}

.main-content__inner table td{
  white-space: nowrap;
  padding: 8px 10px;
  border-bottom: 2px solid #CCCDCE;
}

.main-content__inner table thead td{
  border-top: 5px solid #6BC3C8;
  font-size: 20px;
  color: #000;
}

.fas{
  transition: .3s;
}

.fas:hover {
  color: #6BC3C8
}

.fxbox .fas{
  margin: 0 10px;
}

.table-wrap{
  overflow-x: auto
}

.main-sidebar__menu .sub-menu{
  background: url('../img/arrow-bottom.svg') 95% center no-repeat;
  background-size: 15px;
}

.main-sidebar__menu .sub-menu:hover,
.main-sidebar__menu .sub-menu.active{
  background: url('../img/arrow-bottom.svg') 95% center no-repeat,#577D7D;
  background-size: 15px;
}


@media screen and (max-width: 850px){
  .main-flex{
    flex-direction: column;
  }  
  .main-sidebar{
    width: 100%;
  }  
  .header-title{
    display: none;
  }  
  .header-profile{
    flex-grow: 1;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 560px){
  .footer{
    flex-direction: column;
  }
  .header{
    flex-direction: column;
  }
  .header-profile{
    width: 100%;
    justify-content: flex-start;
  }
  .header-logo{
    width: auto;
    margin-bottom: 20px;
  }
  .header-search{
    width: 60%;
  }
  .header-search .input-wrap{
    width: 100%;
  }
  .header-lang a:first-child{
    margin-right: 20px;
  }
  .header-search form input,
  .header-search form input:focus{
    width: 90%!important;
    border-color: #848688;
  }
  .footer-info{
    margin: 20px 0;
  }
}